$main-color: DarkSlateBlue;
$main-color-light: rgba(72,61,139, 0.1);
$white: #fff;
$gray:#333;
$gray100: rgba(0, 0, 0, .125);

$main-font: 'Solway', serif;

$bold: 700;
$font-xl: 42px;
$font-l: 28px;
$font-m: 20px;
$font: 16px;
$font-s: 12px;

$radius: 5px;
